page-home {
    .card {
        border-radius: 5px;
        box-shadow: none;
    }
    .card img {
        border-radius: 5px;
        object-fit:cover;
        width: 167px;
        height: 114px;
    }

    .card-title {
        font-weight: bold; 
        margin-top: 5px;
    }

    .avaliacao ion-icon {
        color: #ccc;
    }
    .avaliacao ion-icon {
        font-size: 1.4rem;
    }
}
